header, footer {
  width: 100%;
  height: 150px;
  display: inline-block;
}

header {
  background: red;
}

footer {
  background: green;
}

.left, .center, .right {
  display: inline-block;
  height: 550px;
}

.left {
  background: blue;
  width: 33%;
  float: left;
}
.center {
  background: purple;
  width: 34%;
  float: none;
}
.right {
  background: yellow;
  width: 33%;
  float: right;
}
