header {
  width: 100%;
  height: 100px;
  background: red;
}
main {
  width: 100%;
  background: yellow;
}

.middle {
  width: 70%;
  background: blue;
  height: 600px;
  margin: auto;
}
footer {
  width: 70%;
  background: green;
  margin: auto;
  height: 100px;

}
