header {
  width: 100%;
  background: purple;
  height: 100px;
  display: block;
}
main {
  height: 600px;
  background: red;
  margin: 0 auto;
  width: 70%;
  display: block;

}
.blue {
  display: block;
  background: blue;
  margin: 15px auto;
  width: 60%;
  height: 150px;
  position: relative;
  top: 50px;
  float: inherit;

}

#blue1 {


}
