header {
  width: 100%;
  background: purple;
  height: 85px;
  display: block;

}
main {
  height: 700px;
  background: red;
  margin: 0 auto;
  width: 75%;
  display: block;

}
.blue {
  display: block;
  background: blue;
  margin: auto;
  margin-bottom: 6%;

  width: 60%;
  height: 170px;
  position: relative;
  top: 50px;


}
