header, main, .blue {
  display: block;
}
header {
  width: 100%;
  background: purple;
  height: 85px;
}
main {
  height: 700px;
  background: red;
  margin: 0 auto;
  width: 75%;
}
.blue {
  background: blue;
  margin: auto;
  margin-bottom: 6%;
  width: 60%;
  height: 170px;
  position: relative;
  top: 50px;
}
.green, .yellow {
  position: relative;
  display: inline-block;
}
.green {
  width: 170px;
  height: 120px;
  background: green;
  left: 35px;
  top: 17px;
}
.yellow{
  width: 85px;
  background: yellow;
  height: 85px;
  left: 25px;

  bottom:  17px;
}
